<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="P1">
<parameter name="Suite-Name" value="V2 Refresh_QA_Build_1.8--VWR_TestCases_P1"/>
<test name="VWR_01_Verify_Apply_Leave_Functionality">
<classes>
<class name="in.v2solutions.hybrid.testcases.VWR_01_Verify_Apply_Leave_Functionality"></class>
</classes>
</test>
<test name="VWR_02_Verify_Apply_Maternity_Leave_Functionality">
<classes>
<class name="in.v2solutions.hybrid.testcases.VWR_02_Verify_Apply_Maternity_Leave_Functionality"></class>
</classes>
</test>
<test name="VWR_03_Verify_Update_Edit_Delete_Leave_Functionality">
<classes>
<class name="in.v2solutions.hybrid.testcases.VWR_03_Verify_Update_Edit_Delete_Leave_Functionality"></class>
</classes>
</test>
<test name="VWR_04_Verify_Male_Emp_Should_not_see_Maternity_Leave_In_Dropdown">
<classes>
<class name="in.v2solutions.hybrid.testcases.VWR_04_Verify_Male_Emp_Should_not_see_Maternity_Leave_In_Dropdown"></class>
</classes>
</test>
<test name="VWR_05_Verify_Helpdesk_Functionality">
<classes>
<class name="in.v2solutions.hybrid.testcases.VWR_05_Verify_Helpdesk_Functionality"></class>
</classes>
</test>
<test name="VWR_06_Verify_Employees_Personal_Information">
<classes>
<class name="in.v2solutions.hybrid.testcases.VWR_06_Verify_Employees_Personal_Information"></class>
</classes>
</test>
<test name="VWR_07_Verify_Employees_Professional_Information">
<classes>
<class name="in.v2solutions.hybrid.testcases.VWR_07_Verify_Employees_Professional_Information"></class>
</classes>
</test>
<test name="VWR_08_Verify_Dashboard_Functionality">
<classes>
<class name="in.v2solutions.hybrid.testcases.VWR_08_Verify_Dashboard_Functionality"></class>
</classes>
</test>
<test name="VWR_09_Verify_Expense_Reimbursement_Functionality">
<classes>
<class name="in.v2solutions.hybrid.testcases.VWR_09_Verify_Expense_Reimbursement_Functionality"></class>
</classes>
</test>
<test name="VWR_10_Verify_Reports_Functionality">
<classes>
<class name="in.v2solutions.hybrid.testcases.VWR_10_Verify_Reports_Functionality"></class>
</classes>
</test>
<test name="VWR_11_Verify_HR_Maintenance_Functionality">
<classes>
<class name="in.v2solutions.hybrid.testcases.VWR_11_Verify_HR_Maintenance_Functionality"></class>
</classes>
</test>
</suite>